<div class="main-container">
    <div class="navbar">
    
        <div class="left-icon">
            <img class="cash-icon" src="/assets/score-left-navbar.png" alt="score">
            <div class="topLeftScore">200</div>
        </div>
    
        <div class="FantasyQuizHeading">Fantasy Quiz</div>
    
        <div class="cross">
            <img class="cross-icon" src="/assets/nav-bar-x.png" alt="cross">
        </div>
    </div>
    
    
    <div class="question-answer">
        <div class="questionClass">PREDICT THE TOP LOSER (for tomorrow) across these indices</div>
        <div class="answer1-box">
            <div class="circle">A</div>
            <div class="answer">NIFTY50</div>
        </div>
        <div class="answer1-box">
            <div class="circle">B</div>
            <div class="answer">NIFTY50</div>
        </div>
        <div class="answer1-box">
            <div class="circle ">C</div>
            <div class="answer">NIFTY50</div>
        </div>
    </div>
    
    
    <div class="footer">
        <div class="progress-bar">
            <progress id="health" value="30" max="100"></progress>
        </div>
        <div class="count">3/5</div>
        <button class="continue">CONTINUE</button>
    </div>
</div>